# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.egg
*.egg-info
dist
build
eggs
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints

# Virtualenv
venv/
env/
ENV/
.venv/
.ENV/

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Model Files
*.pth

# Data Files
data/

# Any other file/folder you don't want to track
